/gradlew
/build.gradle
/mobile/src/test
/gradle
/mobile/build.gradle
/mobile/google-services.json
/.gradle
/ScoreKeeper.iml
/build
/mobile/src/androidTest
/gradle.properties
/mobile/mobile.iml
/mobile/proguard-rules.pro
/.travis.yml
/codecov.yml
/local.properties
/settings.gradle
/mobile/build
/gradlew.bat
/google-services.json
/.idea
